volume2/YoutubeApiCredentials/
volume2/Latex/*.log
volume2/Latex/*.aux
volume2/Latex/*.nav
volume2/Latex/*.out
volume2/Latex/*.snm
volume2/Latex/*.gz
volume2/Latex/*.toc
volume2/LatexCompiledSlides/
volume1/YoutubeApiCredentials/
bin
obj
CS/BasicProgramming.v12.suo
